
header{
    text-align: center;
    background-color: lightgoldenrodyellow;
    display: block;
    padding: 5px;
    font-family: sans-serif;
}
.menu{
    width: 700px;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
ul{
    list-style: none; /* sin circulos de viñetas*/
}
.principal >li{
float: left;

}.principal li a{
    background-color: deepskyblue;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 12px;
    display: block;
    font-size: 25px;
    

}
.principal li a:hover{
    background-color: burlywood;
}
.principal li ul{
    display: none;
    position: absolute; /* va a tener una posicion fija, NO SE MUEVE*/
    min-width: 140px; /* tamaño hasta q se active*/
}
.principal li:hover>ul{ /* lo vuelvo a llamar */
    display: block;

}
.principal li ul li{
    position: relative;
}
.definicion p{
    background-color: white;
    display: block;
    padding: 25px;
    font-size: 20px;
    margin: 25px;

}
.historia h1{
text-align: center;  
display: block; 
text-align: center;

}
.historia p{
background-color: azure;
font-size: 20px;
padding: 25px;
margin: 25px;
;
}
.bandera h1{
    text-align:center

}
.bandera p{
    background-color:white;
    display: block;
    padding: 25px;
    font-size:20px;
}
.imagenhistoria {
    margin: auto;
    width: 250px;
    height: 350px;

}
.imagenbandera {
width: 400px;
height: 250px;
margin: auto;
}
.general h1{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: white ;
    
}
.fot{
    color: black;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
.encabezado h1 {
        text-align: center; 
font-family: Arial; 
font-size: 50px; 
COLOR: #1278BF; 
text-shadow: 10px 5px 8px #508AD3;
}
.imagenes{
    padding: 0px 20px 20px ; /* separacion arriba abajo :0 y costados:20*/
}
.area{
    display: flex; /*cajas como seldas de tablas*/
    flex-wrap: wrap;/* unidas unas a otras en linea*/
    flex-direction: row;/*puestas en filas*/
    align-items: center; /* todas las al centro*/
    justify-content: center;/**/
    background-color: brown;
}
html{
    background-image: url("/imagenes/amanecer.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover; /* se expande en todo la pg*/
    height: 2000px;
}
iframe{
    background-color: burlywood;
}
footer{
    background-color:black ;
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
    display: block;
    grid-area: footer;
    
    display: flex;
}